<template>
  <div>
  
  <header class="header">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
        <h1>{{ facts[$route.params.id].title }}</h1>

        <div class="header-content">
          <h2>{{ facts[$route.params.id].title }}</h2>
          <p class="hero">{{ facts[$route.params.id].hero }}</p>
        </div>

        <p><a href="#resources" class="goto-resource">&dArr; Resources</a></p>
      </div>
    </div>
  </header>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
      <div class="fact-content">
        <h3>Description</h3>
          <p>{{ facts[$route.params.id].description }}</p>

          <div id="resources">
            <h3>Resources</h3>
            <div v-for="resource in facts[$route.params.id].resources">
              <p>
                <a :href="resource.path" class="icon" :class="resource.type">{{ resource.name }}</a>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>

  </div>
</template>

<script>

import {db} from '../firebase'
export default {
  data: () => ({
    facts: {}
  }),
  firebase: {
    facts: db.ref('facts')
  }
}
</script>

<style scoped>
  .header-content {
    padding: 20px 0;
  }

  .goto-resource {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

  .goto-resource:hover {
    text-decoration: underline;
  }

  .icon {
    display: inline-block;
    position: relative;
    min-height: 52px;
    padding: 10px 0 0 70px;
    color: #000;
    font-size: 14px;
    line-height: 1.4em;
  }
  
  .icon:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
  }
  
    .video:before {
      background-image: url('/static/img/icon-video.svg');
    }
  
    .website:before {
      background-image: url('/static/img/icon-website.svg');
    }
  
    .tool:before {
      background-image: url('/static/img/icon-tool.svg');
    }
  
    .book:before {
      background-image: url('/static/img/icon-book.svg');
    }

</style>
