<template>
  <div v-cloak>
  
    <header class="header">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
          <h1 class="home-header">The Glossary</h1>
          <div class="bar">
            <!-- Create a binding between the searchString model and the text field -->
            <input type="text" v-model="searchString" placeholder="Enter your search terms" id="search" />
        </div>
        </div>
      </div>
    </header>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
        <div v-for="fact in filteredFacts" class="fact-item">
          <div class="fact">
            <span v-if="fact.title" @click="displayDetails(fact.id)">{{ fact.title }}</span>
            <div v-else class="fact-group-header">{{ fact }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {db} from '../firebase'

  export default {
    data: () => ({
      facts: {},
      factsGroup: {},
      searchString: '',
      letters: []
    }),
    firebase: {
      facts: db.ref('facts'),
      // Optional, allows you to handle any errors.
      cancelCallback (err) {
        console.error(err)
      }
    },
    methods: {
      displayDetails (id) {
        this.$router.push({name: 'detail', params: { id: id }})
      },
      filterAlphabetical () {
        const orderFacts = this.facts.sort((a, b) => {
          if (a.title > b.title) {
            return 1
          } else {
            return -1
          }
        })
        return orderFacts
      },
      groupFacts () {
        this.filterAlphabetical()
        const groupFacts = this.facts.map(fact => {
          console.log('[toLowercase] initial fact.title.toLowerCase().charAt(0)')
          var initial = fact.title.toLowerCase().charAt(0)
          if (!this.factsGroup[initial]) {
            this.factsGroup[initial] = []
          }
          this.factsGroup[initial].push(fact)
        })
        return groupFacts
      },
      showGroupFacts () {
        this.groupFacts()
        const groupArr = []
        const groups = Object.entries(this.factsGroup)
        groups.map(group => {
          groupArr.push(group[0])
          group[1].map(groupEl => {
            groupArr.push(groupEl)
          })
        })
        console.log(groupArr)
        return groupArr
      }
    },
    computed: {
      // A computed property that holds only those articles that match the searchString.
      filteredFacts: function () {
        let factsArr = this.facts
        let searchString = this.searchString

        // If theres nothing typed return full list of facts
        if (!searchString) {
          console.log('No search typed')
          factsArr = this.showGroupFacts()
        } else {
          console.log('[toLowercase] searchString.trim().toLowerCase()')
          searchString = searchString.trim().toLowerCase()

          factsArr = factsArr.filter(fact => {
            console.log('[toLowercase] if fact.title.toLowerCase().indexOf(searchString)')
            if (fact.title.toLowerCase().indexOf(searchString) !== -1) {
              return fact
            }
          })
        }

        // Return an array with the filtered data.
        return factsArr
      }
    }
  }

  // Optional: Check connection to Firebase
  var connectedRef = db.ref('.info/connected')
  connectedRef.on('value', function (snap) {
    if (snap.val() === true) {
      console.log('connected')
    } else {
      console.log('not connected')
    }
  })
</script>

<style scoped>
  .home-header {
    margin-bottom: 1em;
  }

  .fact-item {
    padding: 12px 0;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
  }

  .fact-group-header {
    padding: 0 6px;
    font-size: 12px;
    line-height: 26px;
    background-color: #F7F7F7;
    text-transform: uppercase;
    cursor: default;
  }

  #search {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em;
  }
</style>
