<template>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">UX Companion</span>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">UX Companion</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/#/" @click="hideMenu">Home</a>
        <a class="mdl-navigation__link" href="/#/post" @click="hideMenu">Information</a>
      </nav>
    </div> -->
    <main class="mdl-layout__content">
      <div class="page-content">

        <transition name="slideout">
          <router-view></router-view>
        </transition>
        
      </div>
    </main>
  </div>
</template>

<script>
  require('material-design-lite')

  export default {
    name: 'app',
    methods: {
      hideMenu: function () {
        document.getElementsByClassName('mdl-layout__drawer')[0].classList.remove('is-visible')
        document.getElementsByClassName('mdl-layout__obfuscator')[0].classList.remove('is-visible')
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
  @import url('https://code.getmdl.io/1.2.1/material.blue-red.min.css');

  h1 {
    margin: 0;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
  }

  h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 100;
  }

  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    margin: 0 0 1em;
    line-height: 1.5em;
  }
  
  .header {
    background-color: #15191F;
    color: #fff;
  }

  .slideout-leave-active {
    width: 100%;
    position: absolute;
    transition-property: left;
    left: 0%;
    transition-duration: 0.4s;
  }

  .slideout-leave-to {
    width: 100%;
    position: absolute;
    transition-property: left;
    left: -100%;
    transition-duration: 0.4s;
  }

  .slideout-enter-active {
    width: 100%;
    position: absolute;
    transition-property: left;
    left: 0%;
    transition-duration: 0.4s;
  }

  .slideout-enter {
    width: 100%;
    position: absolute;
    transition-property: left;
    left: 100%;
    transition-duration: 10s;
  }

</style>
